/* ==========Geral========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;   
    padding: 78px;
    font-family: 'Rubik', sans-serif;
    
    color: rgba(0, 0, 0, 0.88);
    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat;
    
}

#pass-container {
    padding: 78px 24px;
  
    border-radius: 32px;
   
}

#pass-container h1 {   
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-bottom: 20px;  
    font-weight: 500;    
}

/* ==========Boarding Pass========== */

#boarding-pass {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 327px;
    height: 656px;
    
}

/* ==========Ticket 01========== */
#ticket01 {
    width: 327px;
    height: 191px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px 32px;      
}

/* ==========Ticket 01 Header========== */

#fly-header {
    display: flex;
    justify-content: space-between;
    width: 263px;
    height: 36px;
    margin-bottom: 24px;
}

.top-index {
  font-weight: 400;  
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;

  color: rgba(0, 0, 0, 0.64);  
}

#data {
     display: flex;
     flex-direction: column;
     align-items: flex-end;   
    
}

#fly-header p:nth-child(even) {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;    
}


/* ==========Ticket 01 Orig Dest========== */

#orig-dest {
    display: flex;
    justify-content: space-between;
     
    width: 263px;
    height: 83px;   
}

#orig-dest p:nth-child(even) {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.02em;  
    
}
#orig {
    width: 103px;
    height: 83px;
}

#orig-dest img {
    width: 22.5px;
    left:0.75px;
   
}

#dest{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
   
}

 #orig-dest p:nth-child(3) {      
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.8);
 }

span {  
    font-size: 10px;
    line-height: 12px;
    position: absolute;    
 }

 #dest p:nth-child(3) {
    display:block;
 }

/* ==========Divider 01========== */

#sublinhado {
    margin-top: -1px;
   
}

/* ==========Tichet 02 Passager========== */

#ticket02 {
    display: flex;
    justify-content: space-between;
    padding:  24px 32px ;

    width: 327px;
    height: 84px;
    background: white;
    border-radius: 24px;
}

#ticket02 div:nth-child(2) {
    display: flex;
    flex-direction: column;
   align-items: flex-end;

}

#ticket02 div p:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.88);
}

/* ==========Tichet 03 QR Code========== */

#ticket03  {    
    display: flex;
    background: white;
    padding: 24px 32px; 
    width: 327px;
    height: 269px;
    border-radius: 24px;
}

#ticket03 section {
     display: flex;

}

#boarding-info {
   
     margin-top: 13.5px;
    margin-bottom: 13.5px;
    list-style: none;
    width: 95px;
   
}

#boarding-info li:nth-child(1) {
    margin-top: 2px;
}

#boarding-info li div {
    width: 54px;
    height: 27px;
    padding: 4px 8px;

    background: #633BBC;
    border-radius: 8px; 
}

#boarding-info li div p { 
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;   

    color: #FFFFFF;
    
}

#boarding-info li:nth-child(2) {
    margin-top: 16px;
}

#boarding-info li:nth-child(3) {
    margin-top: 16px;
}

#boarding-info li:nth-child(3)  {
    font-size: 16px;
    line-height: 19px;       
  
    letter-spacing: -0.02em;
}
/* ==========Atenção========== */

.atencao  {
    font-size: 16px;
    line-height: 20px;
    width: 263px;
    height: 20px;   

    margin-top: 24px;
    text-align: center;
}

/* ==========QR Code========== */

#qr-code {   
    width: 160px;
    color: black;
}
#qr-code p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

/* ==========Footer========== */

footer {
    margin-top: 20px;
    
    color:white;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    opacity: 0.64;    

} 