/* ==========Geral========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;   
    padding: 78px;
    font-family: 'Rubik', sans-serif;
    background: #1E1E1E;
    
}

#pass-container {
    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat;
    padding: 78px 24px;
    width: 375px;
    height: 812px;
    border-radius: 32px;
   
}

#pass-container h1 {   
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-bottom: 20px;  
    font-weight: 500;    
}

/* ==========Bilhete========== */

#boarding-pass {
    display: flex;
    align-items: center;
    flex-direction: column;

    border: solid green 1px;
    width: 327px;
    height: 656px;
}

/* ==========Section 01========== */


#fight-info {
    width: 327px;
    height: 191px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px 32px;

    border: solid red 1px;
   
}

ul {
    list-style: none;
}

#fight-info ul:nth-child(1) {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-direction: row;
  
    border: solid orange 1px;
    width: 263px;
    height: 36px;
    list-style: none; 
}

#fight-info ul:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
    flex-direction: row;
  
    border: solid orange 1px;
    width: 263px;
    height: 36px;
    list-style: none;
 
}

.indice p:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.64)
}

.indice  p:nth-child(2) {    
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    
    
}

#indice-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}